<div class="contact container" style="height: 150px">
</div>
<div class="contact container" style="text-align: justify;">
  <h1 class="title-primary" style="text-align: center;">PRIVACY POLICY</h1>
  <p>
    <b>
      To provide you with your password, you may need to provide us with some personal information. We will comply with all applicable U.S. data protection legislation currently in force. We will use such information for the following reasons:
    </b>
  </p>
  <ul class="contact__list">
    <li class="contact__list-item">
      <p>
        <b>1.</b> Internal record keeping
      </p>
    </li>
    <li class="contact__list-item">
      <p>
        <b>2.</b> To improve our services
      </p>
    </li>
    <li class="contact__list-item">
      <p>
        <b>3.</b>  Our representatives may follow up either by e-mail, telephone or mail to people who have used the Website as part of our customer care procedures
      </p>
    </li>
    <li class="contact__list-item">
      <p>
        <b>4.</b>  We may periodically send promotional materials about new services special offers or other information, which we think you may find interesting using the e-mail you have provided.
      </p>
    </li>
    <li class="contact__list-item">
      <p>
        <b>5.</b> From time-to-time, we may also use your information to contact you for research purposes. We may contact you be e-mail, telephone or mail.
      </p>
    </li>
    <li class="contact__list-item">
      <p>
        <b>6.</b> We do not sell, distribute or lease your personal information to third parties (When you provide any information online, you should look for the box which you can click to say that you do not want the information to be used by anyone for direct marketing purposes or to be released to third parties.)

      </p>
    </li>
    <li class="contact__list-item">
      <p>
        <b>7.</b> We are committed to ensuring that your information is secure. To prevent unauthorized access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online. We use encryption when collecting or transferring sensitive data such as credit card information.
      </p>
    </li>
  </ul>
  <h3>CORRECTION/UPDATING/DELETION OF PERSONAL INFORMATION </h3>
  <p>
    You have the right to access your Personal Information and to require the correction, updating and blocking of inaccurate and incorrect data by sending an email to us at (enter your website email here)
  </p>
  <h3>Security</h3>
  <p>
    We have implemented security measures to ensure the confidentiality of your Personal Information and to protect your Personal Information from loss, misuse, alteration or destruction.
    We implement a variety of security measures to maintain the safety of your personal information when you submit a request, place an order or access your personal information.
  </p>
  <p>
    Only authorized personnel of COINXPRO have access to your Personal Information, and this personnel is required to treat the information as confidential. The security measures in place will, from time to time, be reviewed in line with legal and technical developments.
  </p>
  <h3> RETENTION OF PERSONAL INFORMATION </h3>
  <p>
    We will hold your Personal Information only for as long as it is necessary for us to do so, having regard to the purposes described in this Privacy Policy and our own legal and regulatory obligations. By our record keeping requirements, we will retain Accounts and Personal Information for at least a period of one year after Customers close them.
  </p>
</div>
<div class="contact container" style="height: 75px">
</div>