<div class="contact container" style="height: 150px">
</div>
<div class="contact container" style="text-align: justify;">
  <h1 class="title-primary" style="text-align: center;">TERMS AND CONDITION</h1>
  <p>
    <span>Coinxpro.com</span> is crypto-currency exchange, which allows performing exchange transactions, and is also used as the method of payment used in online business. We deal in crypto to crypto exchange only not with real and Fiat money, and it's not registered trade. First of all, these measures are aimed at building a business relationship with both our private clients, as well with the online business sector. We consider reliability and trust to be the basis of a long-term business relationship. Guidelines for working with Coinxpro.com crypto-currency are regulated, however, subsequently, they may be updated or amended unilaterally. Participants should not be involved or associated with any activity or materials that may violate, question, denigrate or impair the reputation of the Coinxpro.com
  </p>
  <h3>ACCEPTANCE OF TERMS</h3>
  <br>
  <p>
    The services that [coinxpro.com] provides to User is subject to the following Terms of Use ("TOU"). [COINXPRO] reserves the right to update the TOU at any time without notice to User. The most current version of the TOU can be reviewed by clicking on the "Terms of Use" [hypertext link] located at the bottom of our Web pages.
  </p>
  <p>
    This Agreement, which incorporates by reference other provisions applicable to use of [coinxpro.com], including, but not limited to, supplemental terms and conditions set forth hereof ("Supplemental Terms") governing the use of certain specific material contained in [coinxpro.com], sets forth the terms and conditions that apply to use of [coinxpro.com] by User. By using [coinxpro.com] (other than to read this Agreement for the first time). User agrees to comply with all of the terms and conditions hereof. The right to use [coinxpro.com] is personal to User and is not transferable to any other person or entity. The user is responsible for all use of User's Account (under any screen name or password) and for ensuring that all use of User's Account complies fully with the provisions of this Agreement. User shall be responsible for protecting the confidentiality of User's password(s) if any.
  </p>
  <b> By using the Website, you represent and warrant that you are: </b>
  <ul class="list">
    <li class="list__item">
      <p>
        at least 18 years old and have full capacity to contract under applicable law;
      </p>
    </li>
    <li class="list__item">
      <p> only transacting on COINXPRO with legally-obtained funds that belong to you;
      </p>
    </li>
    <li class="list__item">
      <p>
        not furthering, performing, undertaking, engaging in, aiding, or abetting any unlawful activity through your relationship with us or your use of COINXPRO and;
      </p>
    </li>
    <li class="list__item">
      <p>
        comporting with and obeying all applicable laws.
      </p>
    </li>
  </ul>
  <p>
    We reserve the right to terminate your access to COINXPRO for any reason, including but not limited to breaches of our Terms, in our sole and absolute discretion. Use of COINXPRO is void where prohibited by applicable law.
  </p>
  <p>
    <b> Intellectual Property, Software and Content</b><br/>
    The intellectual property rights in all software and content (including photographic images) made available to you on or through this Website remains the property of COINXPRO or its licensors and are protected by copyright laws and treaties around the world. All such rights are reserved by UpCultured.com and its licensors. You may store, print and display the content supplied solely for your personal use. You are not permitted to publish, manipulate, distribute or otherwise reproduce, in any format, any of the content or copies of the content supplied to you or which appears on this Website nor may you use any such content in connection with any business or commercial enterprise.
  </p>
  <p>
    <b>Prices, Exchange Rates, and Confirmations</b><br/>
    Cryptocurrency and digital assets are highly experimental and risky. COINXPRO’s conversion service attempts to provide accurate price and exchange rate information, but this information is highly volatile and can change quickly without users necessarily being aware of these changes.
  </p>
  <p>
    For standard orders (i.e., not “Specific Amount” orders), the exchange rate you receive is calculated at the time your payment is accepted. Due to varying security between blockchains, your payment is typically considered “received” at one block confirmation. COINXPRO may occasionally receive payment with zero confirmations, though this decision is at COINXPRO’s sole discretion. It is important to note that an amount being broadcast to the blockchain network does not constitute acceptance by COINXPRO of that payment.
  </p>
  <p>
    <b>
      Prohibitions
    </b><br/>
    Make sure you do not misuse this Website. You will not: commit or encourage a criminal offense; transmit or disperse a virus, trojan, worm, logic bomb or some other materials which can be malicious, electronically harmful, in breach of assurance or in any way offensive or obscene; hack into any area of the Service; corrupt data; cause annoyance to other users; infringe upon the rights of any other person's proprietary rights; send any unrequested advertising or promoting material, commonly known as "spam"; or make an effort to affect the overall performance or functionality of any computer facilities of or accessed through this Website. Breaching this condition would constitute a criminal offense and COINXPRO. We will report any of such breach to the relevant law enforcement government bodies and also disclose your identity to them.
    We will not be liable for any loss or damage caused by a dispersed denial-of-service attack, viruses or other technologically harmful material that could infect your system equipment, computer programs, data or other proprietary component due to your use of this Website or to your downloading of any material published on it, or on any website linked to it.
  </p>
  <h3> USER CONDUCT</h3>
  <br>
  <ul class="list">
    <li class="list__item">
      <p>
        User shall use COINXPRO for lawful purposes only. User shall not post or transmit through COINXPRO.COM any material which violates or infringes in any way upon the rights of others, which is unlawful, threatening, abusive, defamatory, invasive of privacy or publicity rights, vulgar, obscene, profane or otherwise objectionable, which encourages conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any law/, or which, without COINXPRO's express prior approval, contains advertising or any solicitation with respect to products or services. Any conduct by a User that in COINXPRO’s discretion restricts or inhibits any other User from using or enjoying COINXPRO.COM will not be permitted. User shall not use COINXPRO.COM to advertise or perform any commercial solicitation, including, but not limited to, the solicitation of users to become subscribers of other on-line information services competitive with COINXPRO.
      </p>
    </li>
    <li class="list__item">
      <p>
        COINXPRO.COM contains copyrighted material, trademarks and other proprietary information, including, but not limited to, text, software, photos, video, graphics, music and sound, and the entire contents of COINXPRO.COM are copyrighted as a collective work under the [YOUR COUNTRY] copyright law's. COINXPRO owns a copyright in the selection, coordination, arrangement and enhancement of such content, as well as in the content original to it. User may not modify, publish, transmit, participate in the transfer or sale, create derivative works, or in any way exploit, any of the content, in whole or in part. User may download copyrighted material for User's personal use only. Except as otherwise expressly permitted under copyright law, no copying, redistribution, retransmission, publication or commercial exploitation of downloaded material will be permitted without the express permission of COINXPRO and the copyright owner. In the event of any permitted copying, redistribution or publication of copyrighted material, no changes in or deletion of author attribution, trademark legend or copyright notice shall be made. User acknowledges that it does not acquire any ownership rights by downloading copyrighted material.
      </p>
    </li>
    <li class="list__item">
      <p>
        User shall not upload, post or otherwise make available on COINXPRO.COM any material protected by copyright, trademark or other proprietary right without the express permission of the owner of the copyright, trademark or other proprietary right and the burden of determining that any material is not protected by copyright rests with User. User shall be solely liable for any damage resulting from any infringement of copyrights, proprietary rights, or any other harm resulting from such a submission. By submitting material to any public area of[COINXPRO.COM, User automatically grants, or warrants that the owner of such material has expressly granted COINXPRO the royalty-free, perpetual, irrevocable, non- exclusive right and license to use, reproduce, modify, adapt, publish, translate and distribute such material (in whole or in part) worldwide and/or to incorporate it in other works in any form, media or technology now known or hereafter developed for the full term of any copyright that may exist in such material. User also permits any other User to access, view, store or reproduce the material for that User's personal use. User hereby grants COINXPRO the right to edit, copy, publish and distribute any material made available on COINXPRO.COM by User.
      </p>
    </li>
  </ul>
  <p>
    <b>Jurisdiction</b><br/>
    Transactions from Users in these jurisdictions are prohibited, and ShapeShift may seize any funds from Users in these jurisdictions and donate them to a charity at ShapeShift’s sole discretion. By accessing this site or any services therein, you represent and warrant that you are not physically located in these prohibited jurisdictions
  </p>
  <p>
    <b>Terms of Use Modifications</b><br/>
    COINXPRO may revise our Terms at any time and without notice to you or third parties. By using the Website, you agree to be bound by the then-current version of our Terms. We reserve the right to make any changes retroactive.
  </p>
</div>
<div class="contact container" style="height: 75px">
</div>
